@charset "UTF-8";
section#corpo-glass section#conteudo {
  width: 1000px;
}
iframe {
  width: 480px;
  height: 360px;
  border: none;
  overflow-x: hidden;
  overflow-y: hidden;
}
section#corpo-glass section#conteudo {
  overflow: hidden;
}
::-webkit-scrollbar {
  display: none;
}
