@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Sans+JP:wght@300;400&family=Ubuntu:wght@700&display=swap');
@font-face {
  font-family: 'Gotham'; src: url('GothamMedium.ttf');
}

form {
  margin: 10px;
}
form p {
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  color: rgba(36, 48, 107, 1);
}


form h2 {
  margin: 0px;
}

form input, textarea {
  text-decoration: none;
  padding: 10px;
  border: 2px solid lightgray;
  position: absolute;
  left: 180px;
  margin-top: -6px;

}
form input:focus, textarea:focus {
  outline: none;
  border: 2px solid rgba(100, 86, 227, 1);
}

form h3 {
  font-family: 'Bebas Neue', cursive;
  font-size: 15pt;
  text-decoration: none;
  box-shadow: 0px 0px 0px white;
  padding: 0px;
  margin: 0px;

}
fieldset#sex input {
  display: block;
  position: relative;
  margin-top: 0px;
  padding: 0px;
  left: 0px;
}
fieldset#sex label {
  position: relative;
  left: 13px;
  margin: 10px;
  bottom: 20.5px;

}
input#cData {
  left: 267px;
}
fieldset#endereco input {
  left: 215px;

}
b {
  font-family: Times;
}
form select {
  text-decoration: none;
  padding: 10px;
  border: 2px solid lightgray;
  position: absolute;
  left: 215px;
  margin-top: -6px;
  width: 145.5pt;
}
form select:focus {
  outline: none;
  border: 2px solid rgba(100, 86, 227, 1);
}
fieldset#msg input {
  left: 260px;
  margin-top: -8px;
}
fieldset {
  margin-top: 20px;
}
textarea {
  position: relative;
  left: 10px;
  top: 30px;
}
fieldset#msg label#txt {
  position: relative;
  bottom: 120px;

}
fieldset#pedido input#cPed {
  position: absolute;
  left: 8%;
  margin-top: 3.6px;
}
fieldset#pedido input#cCor {
  padding: 5px;
  position: relative;
  left: 5.7%;
}
fieldset#pedido input#cQuant {
  position: relative;
  left: 1%;
  margin-top: 0px;
}
fieldset#pedido input#cVal {
  position: relative;
  left: 0.7%;
  margin-top: 0px;
}
button {
  display: block;
  float: right;
  font-family: 'Bebas Neue', cursive;
  font-size: 20pt;
  color: white;
  background-color: rgba(100, 86, 227, 1);
  padding: 10px;
  margin: 20px;
  margin-right: 40px;
  box-shadow: 1px 2px 3px rgba(36, 48, 107, 1);
  bottom: 0;
  -webkit-transition: all 0.5s linear;
}
button:hover {
  position: relative;
  bottom: 5px;

}
button:active {
  box-shadow: 0px 0px 0px white;
}
